.card-box {
  border-radius: 0px 0px 12px 12px;
  &_image {
  }
  &_offer-Btn {
    margin-top: -58px;
    text-align: end;
    padding: 10px;
    &_offer-text {
      background: linear-gradient(109.07deg, #fee1af 17.41%, #c79e4b 96.23%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
      text-fill-color: transparent;
    }
  }
  &_title {
  }
  &_defination {
    &_detail {
      background: #022115;
      opacity: 0.2;
      border-radius: 12px;
      padding: 10px;
      label {
        font-weight: 400;
        font-size: 12px;
        white-space: nowrap;
        color: #ffffff;
        opacity: 0.8;
      }
      h4 {
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        background: linear-gradient(90deg, #acb6e5 0%, #86fde8 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
      }
    }
  }
  &_button {
    background-color: yellow;
    color: black;
    border: none;
    &:hover {
      background-color: green;
    }
    &_icon-inbutton {
      margin-right: 10px;
    }
  }
}

.bg {
  background: black;
}
.textGradient {
  background: linear-gradient(109.07deg, #fee1af 17.41%, #c79e4b 96.23%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.detail {
}
.icon_inbutton {
  margin-right: 10px;
}
.centerBtn {
  text-align: center;
  max-width: 50px;
  background: #d9d9d9;
  opacity: 0.2;
}
.inputsec {
  max-width: 120px;
}
.inputPluse {
  background: url("../../Image/pluse.svg") no-repeat 14px 14px;
  width: 30px;
  background-color: #022115;
  background-position: center;
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.inputminus {
  background: url("../../Image/nagative.svg") no-repeat 14px 14px;
  background-position: center;
  width: 30px;
  border-top-left-radius: 6px;
  background-color: #022115;
  border-bottom-left-radius: 6px;
}
