@import "../../../theme/_var.scss";
header {
  .active {
    background-color: transparent;
  }
  .navbar-nav {
    position: relative;
    @media (max-width: 991px) {
      background-color: #e0dede;
    }
  }
  .logo {
    @media (max-width: 767px) {
      width: 100%;
      max-width: 100px;
    }
  }
  a.nav-link {
    color: $black;
    padding: 10px 30px !important;
    @media (max-width: 1399px) and (min-width: 992px) {
      padding: 10px !important;
    }
    @media (max-width: 991px) {
      &:hover,
      &:active,
      &:focus,
      .active {
        background-color: #1dd9d5 !important;
      }
    }
  }
  .btnBorder {
    color: $black;
    border: solid 1px #1dd9d5;
    border-radius: 30px;
    padding: 10px 50px;
    font-size: 18px;
    font-weight: 700;
    line-height: 35px;
    text-decoration: none;
    cursor: pointer;
    @media (max-width: 991px) {
      font-size: 14px;
      font-weight: 500;
      line-height: 25px;
      padding: 15px 30px;
    }
    @media (max-width: 767px) and (min-width: 480px) {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      padding: 10px 20px;
    }
    @media (max-width: 479px) {
      font-size: 12px;
      font-weight: 500;
      line-height: 15px;
      padding: 10px 15px;
    }
    &:hover,
    &:focus,
    &:active {
      color: white !important;
      background-color: #1dd9d5 !important;
      border: solid 1px #1dd9d5;
    }
  }
}
