.footerBar {
  .term-policy {
    display: flex;
    padding-left: 0;

    li {
      flex: 1 1 400px;
      white-space: nowrap;
      text-decoration: none;
      margin-right: 20px;
      list-style: none;
    }
  }
}

.d-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
