@import "../../theme/_var.scss";
@import "../../theme/_mixins.scss";
.home-Page {
  // color: black;
  background-image: url(../../Image/HomeBg.png);
  background-repeat: no-repeat;
  background-color: black;
  // display: flex;

  .firstSec {
    // background: #0c9aaa;
    @include padding-adjust;
    color: white;
    ul {
      padding: 0;
      li {
        list-style: none;
        display: flex;
        span {
          img {
            width: 16px;
          }
        }
      }
    }
    .timeSec {
      @media (max-width: 992px) {
        order: -1;
      }
    }
  }
}
